<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      });
    }, false);
  </script>

  <title>{% block title %}TAW Ain't WLTR{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
</head>

<body>

  {% block body %}{% endblock %}

  {% block footer %}
  <div class="container">
    <footer class="my-4">
      <ul class="nav justify-content-center border-top pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Index</a></li>
        <li class="nav-item"><a href="/help/" class="nav-link px-2 text-muted">Help</a></li>
        <li class="nav-item"><a href="/faq/" class="nav-link px-2 text-muted">FAQ</a></li>
      </ul>
    </footer>
  </div>
  {% endblock %}

</body>



</html>
