{% extends "base.html" %}

{% block body %}
  <div class="container mt-5">
    <div class="mb-3">
      <h1>
        TAW: Help
      </h1>
      <p>
        Using TAW should be very simple. All you have to do is copy your pairings, or standings, from your AetherHub tournament, and paste them in the form on this website.
      </p>

      <h3>Generate pairings or match slips</h3>
      <p>
        <ul>
            <li>Enter a name for your tournament</li>
            <li>Enter the current round number</li>
            <li>
                Select your pairings on AetherHub:<br/>
                <img class="img-fluid" src="/img/select_aetherhub_pairings.png"><br/>
                And then copy paste them into the form
            </li>
            <li>Click on "Generate pairings" or "Generate match slips"</li>
            <li>You should arrive on a page with your pairings / match slips. From here, just print from your browser and you'll be good to go 🚀</li>
        </ul>
      </p>

      <h3>Generate standings</h3>
      <p>
        <ul>
            <li>Enter a name for your tournament</li>
            <li>Enter the current round number</li>
            <li>
                Select your standings on AetherHub:<br/>
                <img class="img-fluid" src="/img/select_aetherhub_standings.png"><br/>
                And then copy paste them into the form
            </li>
            <li>Click on "Generate standings"</li>
            <li>You should arrive on a page with your standings. From here, just print from your browser and you'll be good to go 🚀</li>
        </ul>
      <p>

    </div>
  </div>
{% endblock %}
