{% extends "base.html" %}

{% block body %}
  <div class="container mt-5">
    <div class="mb-3">
      <h1>
        TAW Ain't WLTR
      </h1>
      <p>
        This website lets you generate pairings, match slips, and standings for your AetherHub tournament.<br/>
        This service is freely available. If you notice an issue while using it, please open an issue in the <a href="https://github.com/pmourlanne/taw">Github repository</a>.
      </p>
    </div>
    <hr />
  </div>

  <div class="container mt-3">
    <form action="/" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-8 col-sm-12 mb-3">
            <div class="row">
              <div class="col-8">
                {{ form.aetherhub_dump.label(class_="form-label") }}
              </div>
              <div class="col-4 d-flex justify-content-end">
                <a href="#" class="link-secondary" onclick="document.getElementById('aetherhub_dump').value = ''">Clear input</a>
              </div>
            </div>
            {{ form.aetherhub_dump(class_="form-control", rows=15, **{"aria-describedby": "aetherhub_dump_description"}) }}
            <div id="aetherhub_dump_description" class="form-text">{{ form.aetherhub_dump.description }}</div>

            {% if form.aetherhub_dump.errors %}
            <div class="alert alert-danger mt-2 mb-2" role="alert">
              {% for error in form.aetherhub_dump.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="mb-3">
            {{ form.tournament_name.label(class_="form-label") }}
            {{ form.tournament_name(class_="form-control") }}

            {% if form.tournament_name.errors %}
            <div class="alert alert-danger mt-2 mb-2" role="alert">
              {% for error in form.tournament_name.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="mb-3">
            {{ form.round_number.label(class_="form-label") }}
            {{ form.round_number(class_="form-control", min=1) }}

            {% if form.round_number.errors %}
            <div class="alert alert-danger mt-2 mb-2" role="alert">
              {% for error in form.round_number.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="mb-3">
            {{ form.tournament_logo.label(class_="form-label") }}
            {# See https://icons.getbootstrap.com/icons/question-circle/ #}
            <svg data-bs-toggle="tooltip" data-bs-placement="top" title="We recommend using small png images" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>
            <div class="input-group">
              {{ form.tournament_logo(class_="form-control") }}
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="document.getElementById('tournament_logo').value = ''">Clear</button>
              </div>
            </div>
          </div>

          <div class="mb-3">
            {{ form.first_table_number.label(class_="form-label") }}
            {{ form.first_table_number(class_="form-control", min=1) }}

            {% if form.first_table_number.errors %}
            <div class="alert alert-danger mt-2 mb-2" role="alert">
              {% for error in form.first_table_number.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="row mb-3">
            <div class="col d-flex justify-content-center p-1">
              <button type="submit" class="btn btn-primary" name="action" value="pairings">Generate<br/>pairings</button>
            </div>
            <div class="col d-flex justify-content-center p-1">
              <button type="submit" class="btn btn-primary" name="action" value="match_slips">Generate<br/>match slips</button>
            </div>
            <div class="col d-flex justify-content-center p-1">
              <button type="submit" class="btn btn-primary" name="action" value="standings">Generate<br/>standings</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
