<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <style>
    .table.no-padding > * > * > * {
      padding: 0;
    }
  </style>
  <title>Pairings round #{{ round_number }}</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{{ tournament_name }}</h2>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <h2>Round #{{ round_number }}</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <table class="table no-padding">

      <thead>
        <tr>
          <th scope="col">Table</th>
          <th scope="col">Player 1</th>
          <th scope="col">Points</th>
          <th scope="col">Player 2</th>
          <th scope="col">Points</th>
        </tr>
      </thead>

      <tbody>
        {% for row in rows %}
        <tr>
          <th scope="row">{{ row["table_number"] }}</td>
          <td>{{ row["player_1"] }}</td>
          <td>{{ row["player_1_points"] }}</td>
          <td>{{ row["player_2"] }}</td>
          <td>{{ row["player_2_points"] }}</td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>
</body>

<div class="container-fluid">
  <footer class="mt-5">
    <p class="col-md-4 mb-0 text-body-secondary">Powered by TAW https://github.com/pmourlanne/taw/</p>
  </footer>
</div>

</html>
