<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <style>
    .table.no-padding > * > * > * {
      padding: 0;
    }

    .mt-6 {
      margin-top: 5rem !important;
    }

    .tournament-logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 10px;
    }
    .tournament-logo > img {
      height: 100px;
    }
  </style>
  <title>Pairings round #{{ round_number }}</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h2>{{ tournament_name }}</h2>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <h2>Pairings Round #{{ round_number }}</h2>
      </div>
    </div>
  </div>

  {% if tournament_logo_base64 %}
  <div class="tournament-logo">
    <img src="data:image/png;base64, {{ tournament_logo_base64 }}" />
  </div>
  {% endif %}

  <div class="container-fluid {% if tournament_logo_base64 %}mt-6{% else %}mt-5{% endif %}">
    <table class="table no-padding">

      <thead>
        <tr>
          <th scope="col">Table</th>
          <th scope="col">Player 1</th>
          <th scope="col">Points</th>
          <th scope="col">Player 2</th>
          <th scope="col">Points</th>
        </tr>
      </thead>

      <tbody>
        {% for row in rows %}
        <tr>
          <th scope="row">{{ row["table_number"] }}</td>
          <td>{{ row["player_1"] }}</td>
          <td>{{ row["player_1_points"] }}</td>
          <td>{{ row["player_2"] }}</td>
          <td>{{ row["player_2_points"] }}</td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>
</body>

<div class="container-fluid">
  <footer class="mt-5">
    <p class="col mb-0 text-body-secondary">Powered by TAW https://github.com/pmourlanne/taw/</p>
  </footer>
</div>

</html>
