<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <style>
    .table.no-padding > * > * > * {
      padding: 0;
    }
  </style>
  <title>Standings round #{{ round_number }}</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>{{ tournament_name }}</h2>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <h2>Round #{{ round_number }}</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <table class="table no-padding">

      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Player</th>
          <th scope="col">Points</th>
          <th scope="col">Record</th>
          <th scope="col">OMW%</th>
          <th scope="col">GW%</th>
          <th scope="col">OGW%</th>
        </tr>
      </thead>

      <tbody>
        {% for standing in standings %}
        <tr>
          <th scope="row">{{ standing.position }}</td>
          <td>{{ standing.player_name }}</td>
          <td>{{ standing.nb_points }}</td>
          <td>{{ standing.record }}</td>
          <td>{{ standing.omw }}</td>
          <td>{{ standing.gw }}</td>
          <td>{{ standing.ogw }}</td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>
</body>

<div class="container-fluid">
  <footer class="mt-5">
    <p class="col mb-0 text-body-secondary">Powered by TAW https://github.com/pmourlanne/taw/</p>
  </footer>
</div>

</html>
